<%- include('../../partials/header.ejs') %>
<body>
  <%- include('../../partials/navbar-admin.ejs') %>
  
  <div style="width: 50vw;" class="container">
    <br />
    <br>
    <br>
    <br />
    <div class="card">
      <div class="card-header">
        <h2 align="center">Criar nova categoria</h2>
      </div>
      <div class="card-body">
        <form method="POST" action="/categories/save">
          <input
            class="form-control"
            type="text"
            name="title"
            placeholder="Defina o título da categoria..."
            required
          />
          <br />
          <button style="width: 100%;" class="btn btn-success">Cadastrar</button>
        </form>
      </div>
    </div>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>
