<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a style="margin-left: 40px;" class="navbar-brand" href="/">
    DevBlog💻
  </a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" aria-current="/admin/categories" href="/admin/categories">Categorias </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/articles/">Artigos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/users">Administradores</a>
    </li>
  </ul>

  <ul class="navbar-nav ms-auto me-4">
    <li class="nav-item">
      <a class="nav-link" href="/admin/logout">Sair</a>
    </li>
  </ul>
  
</nav>